@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #FFFF;
  overflow-x: hidden;
}

.custom-shadow {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
.anim-time {
  transition: all 0.8s ease;
  opacity: 0;
}
.scale-down {
  scale: 0.6;
}